* {
    font-family: '微软雅黑';
}

ul {
    list-style: none;
    padding-left: 20px;
}
.showInline{
    display: inline-block;
}
.iconfont {
    font-size:inherit;
    display: inline-block;
}
.box-header>.iconfont {
    font-size: 18px;
}
.sidebar-menu>li>a>.iconfont{
    width: 20px;
}
.info-box {
    display: inline-block;
    width: 122px;
    text-align: center;
    box-shadow: none;
    vertical-align: top;
    cursor: pointer;
    color:#000;
}

.info-box:hover .info-box-icon {
    color: #ff6700;
}
.info-box-icon {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    float: none;
    background-color: inherit;
}
.info-box-icon i{
    font-size:40px;
}
.info-box-number {
    width: 100%;
    word-break: break-all;
    font-size: 14px;
    font-weight: normal;
}

.newFeature {
    position: relative;
}
.newFeature .vertical-nav {
    float: left;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.newFeature .vertical-nav li {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-top: 5px;
}

.vertical-nav > li > a:hover, .vertical-nav > li > a:active, .vertical-nav > li > a:focus {
    background: none;
}
.newFeature .vertical-nav li.active {
    background-color: #c3c3c3 !important;
}
.ITSource-countBox .btn{
    min-width: 200px;
    margin-bottom: 10px;
    background-color: #fff;
}
.bootstrap-table span.operator{
    margin-right: 10px;
}
.tags{
    font-size:0;
}
.tags > * {
    margin:3px;
}
/*可关闭标签*/
.tags > *{
    display: inline-block;
}
.tags .alert{
    padding: 6px;
    min-width: 142px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.tags .alert .close{
    right:0;
}
#DefineMissionStrategy-form .ips{
    /*margin-top : -40px;*/
}
#DefineMissionStrategy-form .ips .ip{
    margin-bottom: 5px;
}
#DefineMissionStrategy-form .ips .ip > * {
    display: inline-block;
    vertical-align: top;
}
#DefineMissionStrategy-form .ipBox{
    display: inline-block;
    width:66px !important;
    margin-right: 4px;
}
/*Graph.html*/
#Graph-box{
    position: relative;
    min-height: 480px;
    border: 1px solid #00c0ef;
}
#Graph-box .tools{
    position: absolute;
    left: 0;
    top:0;
    width: 100px;
    bottom:0;
    border-right: 1px solid #00c0ef;
}
#Graph-box .Graph{
    position: absolute;
    left: 100px;
    top:0;
    right:0;
    bottom:0;
}
#Graph-box .tool{
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}
#Graph-box .tool .info-box-icon{
    font-size: 30px;
}
#Graph-box .secondMenu{
    position: absolute;
    left: 100px;
    width: 140px;
    top:0;
    bottom:0;
    border-right: 1px solid #00c0ef;
    display: none;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}
#Graph-box .secondMenu.show{
    display: block;
}
#Graph-box .secondMenu .list-group-item{
    cursor: pointer;
}
#Graph-box .secondMenu .list-group-item.clicked,#Graph-box .secondMenu .list-group-item:hover{
    background-color: #00c0ef;
}

#Graph-box .secondMenu .list-group .list-group-item > *{
    margin-right: 3px;
    vertical-align: middle;
}
#Graph-box .secondMenu .list-group .list-group-item.clicked{
    background-color: #00c0ef;
}
#Graph{
    position: absolute;
    left: 100px;
    top:0;
    right: 0;
    bottom:0;
    z-index: 0;
}
#Graph canvas{
    outline: none;
}

/*select 2*/
.select2-container{
    width: 100% !important;
}
.select2-search.select2-search--dropdown{
    text-align: center;
}
.select2-search.select2-search--dropdown button{
    margin-top:5px;
}

/*bootstrap table*/
.bootstrap-table .table tr td .progress{
    margin-top: 0;
}