* {
    font-family: '微软雅黑';
}
[class^="fa-"],
[class*=" fa-"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul {
    list-style: none;
    padding-left: 20px;
}
div{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.user-select{
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    -o-user-select: initial;
    user-select: initial;
}
label.required:before{
  content: '*';
  color: red;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
    height: auto;
}
.showInline{
    display: inline-block;
}
.iconfont {
    font-size:inherit;
    display: inline-block;
}
.content{
    padding-top:5px;
}
.content-header{
    padding-top: 8px;
}
.content-header>.breadcrumb{
    float: none;
    position: initial;
}
.box-header>.iconfont {
    font-size: 18px;
}
.sidebar-menu>li>a>.iconfont{
    width: 20px;
}
.info-box {
    display: inline-block;
    width: 122px;
    text-align: center;
    box-shadow: none;
    vertical-align: top;
    cursor: pointer;
    color:#000;
}

.info-box:hover .info-box-icon,
.info-box.clicked .info-box-icon {
    color: #ff6700;
}
.info-box-icon {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    float: none;
    background-color: inherit;
}
.info-box-icon i{
    font-size:40px;
}
.info-box-number {
    width: 100%;
    word-break: break-all;
    font-size: 14px;
    font-weight: normal;
}
.detailsForm .form-group{
    margin-bottom: 0;
}
.newFeature {
    position: relative;
}
.newFeature .vertical-nav {
    float: left;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.newFeature .vertical-nav li {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-top: 5px;
}

.vertical-nav > li > a:hover, .vertical-nav > li > a:active, .vertical-nav > li > a:focus {
    background: none;
}
.newFeature .vertical-nav li.active {
    background-color: #c3c3c3 !important;
}
.ITSource-countBox .btn{
    min-width: 200px;
    margin-bottom: 10px;
    background-color: #fff;
}
.bootstrap-table span.operator{
    margin-right: 14px;
}
.tags{
    font-size:0;
}
.tags > * {
    margin:3px;
    margin-left: 0;
}
/*可关闭标签*/
.tags > *{
    display: inline-block;
}
.tags .alert{
    padding: 6px;
    min-width: 142px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.tags .alert .close{
    right:0;
}
.ips{
    /*margin-top : -40px;*/
}
.ips .ip{
    margin-bottom: 5px;
}
.ips .ip > * {
    display: inline-block;
    vertical-align: top;
}
.ips .ipBox{
    display: inline-block;
    width:140px !important;
    margin-right: 4px;
}
/*Graph.html*/
#Graph-box{
    position: relative;
    min-height: 480px;
    border: 1px solid #00c0ef;
}
#Graph-box .tools{
    position: absolute;
    left: 0;
    top:0;
    width: 100px;
    bottom:0;
    border-right: 1px solid #00c0ef;
}
#Graph-box .Graph{
    position: absolute;
    left: 100px;
    top:0;
    right:0;
    bottom:0;
}
#Graph-box .tool{
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}
#Graph-box .tool .info-box-icon{
    font-size: 30px;
}
#Graph-box .secondMenu{
    position: absolute;
    left: 100px;
    width: 140px;
    top:0;
    bottom:0;
    border-right: 1px solid #00c0ef;
    display: none;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}
#Graph-box .secondMenu.show{
    display: block;
}
#Graph-box .secondMenu .list-group-item{
    cursor: pointer;
}
#Graph-box .secondMenu .list-group-item.clicked,#Graph-box .secondMenu .list-group-item:hover{
    background-color: #00c0ef;
}

#Graph-box .secondMenu .list-group .list-group-item > *{
    margin-right: 3px;
    vertical-align: middle;
}
#Graph-box .secondMenu .list-group .list-group-item.clicked{
    background-color: #00c0ef;
}
#Graph{
    position: absolute;
    left: 100px;
    top:0;
    right: 0;
    bottom:0;
    z-index: 0;
}
#Graph canvas{
    outline: none;
}
#Graph-map{
    position: relative;
    width: 180px;
    float: right;
    margin-right: 38px;
    margin-top: 10px;
    height: 20px;
}
#Graph-map .scale{
    position: absolute;
    top: 100%;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: 15px;
}
#Graph-map .scaleIcon{
    position: absolute;
    display: block;
    color: #605ca8;
}
#Graph-map .plus{
    right: 0;
    top: 0;
}
#Graph-map .minus{
    top: 210px;
    right: 0;
}
/*IT资源信息*/
#ITSource-filter-tags-box .text{
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

/*select 2*/
.select2-container{
    width: 100% !important;
}
.select2-search.select2-search--dropdown{
    text-align: center;
}
.select2-search.select2-search--dropdown button{
    margin-top:5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding:0 5px;
}

/*bootstrap table*/
.bootstrap-table .table tr td .progress{
    margin-top: 0;
}


/*配合 bootstrap-validate 验证*/
.form-group.has-error .select2-selection{
    border-color: #dd4b39;
    box-shadow:none;
}