<script type="text/x-handlebars-template" id="Graph-template">
    <div class="Graph-box" id="Graph-box">
        <div class="tools">
            <div class="tool info-box" href="#Graph-tool-relation">
                <span class="info-box-icon"><i class="fa-search"></i></span>
                <span class="info-box-number">关系图</span>
            </div>
            <div class="tool info-box" href="#Graph-tool-display">
                <span class="info-box-icon"><i class="fa-star-half-empty"></i></span>
                <span class="info-box-number">显示/隐藏</span>
            </div>
            <div class="tool info-box" href="#Graph-tool-layout">
                <span class="info-box-icon"><i class="icon-topology"></i></span>
                <span class="info-box-number">布局</span>
            </div>
            <div class="tool info-box" href="#Graph-tool-edit">
                <span class="info-box-icon"><i class="fa-edit"></i></span>
                <span class="info-box-number">编辑</span>
            </div>

        </div>
        <div class="secondMenu" id="Graph-tool-relation">
            <ul class="list-group">
              <li class="list-group-item clicked" data-topoType="0">关系图</li>
              <li class="list-group-item" data-topoType="1">部署关系图</li>
              <li class="list-group-item" data-topoType="2">通信关系图</li>
              <li class="list-group-item" data-topoType="3">物理连接关系图</li>
          </ul>
        </div>
        <div class="secondMenu" id="Graph-tool-display">
            <li class="list-group-item">显示节点：</li>
            <ul class="list-group">
                <!-- <li class="list-group-item">
                    <input type="checkbox">
                    <i class="fa fa-star-half-empty"></i>
                    <span>3 </span>
                    <span>数据库</span>
                </li> -->
            </ul>
        </div>
        <div class="secondMenu" id="Graph-tool-layout">
            <ul class="list-group">
              <li class="list-group-item clicked" data-layout="0">拓扑</li>
              <li class="list-group-item" data-layout="1">应用层级</li>
              <li class="list-group-item" data-layout="2">环形</li>
          </ul>
        </div>
        <div class="secondMenu" id="Graph-tool-edit">
            <ul class="list-group">
                <li class="list-group-item save"><i class="fa-save"></i>保存</li>
                <li class="list-group-item setTag"><i class="fa-tags"></i>设置标签</li>
            </ul>
        </div>
        <div id="Graph"></div>
        <div id="Graph-map">
            <i class="fa-plus plus scaleIcon" role="button"></i>
            <i class="fa-minus minus scaleIcon" role="button"></i>
            <input class="scale" type="range" min="1" max="200" value="100">
        </div>
    </div>
    <div class="hide" id="Graph-node-detail-box" style="margin-top:50px">
        <div id="Graph-node-detail"></div>
    </div>
</script>

<script>
    (function (window, factory) {
        if (typeof define === 'function' && define.amd) {
            // AMD
            define(factory);
        } else if (typeof exports === 'object') {
            // Node, CommonJS-like
            module.exports = factory();
        } else {
            // Browser globals (window is window)
            window.Graph = factory();
        };
    }(window, function () {
        var Record = {
            params:{}
        }

        // 在dom中载入基本的内容
        function renderBasic($dom){
            $dom.append( $('#Graph-template').html() );
            resizeDiagBoxHeight();
        }
        function render(params){
            params.topoType = params.topoType || 0;
            // 记录参数
            Record.params = params;
            hideSaveBtn();
            getData(loadData);
            if (Record.diagram){
                Record.diagram.div = null;
            }
            initTheDiagram();
        };
        // 获取数据
        function getData(callback){
            var url = 'resourceTopo/showTopo';
            // todo : 以后删除
            if ( window.UrlConfig == 'frontEnd' ){
                switch(Record.params.topoType){
                    case '0':{
                        break;
                    }
                    case '1':{
                        url = 'resourceTopo/showTopoDeploy'
                        break;
                    }
                    case '2':{
                        url = 'resourceTopo/showTopoCon'
                        break;
                    }
                    case '3':{
                        url = 'resourceTopo/showTopoPhy'
                        break;
                    }
                }
            }
            fetchData(url,'json',Record.params,{
                success:function(res){
                    if (callback) {
                        callback(res.data);
                    }
                }
            });
        }
        // 载入数据
        function loadData(data){ 
            if ( Record.params.topoType !== 0 && !data.topoJson){
                showRelation();
            } else {
                loadDataToDiagram(data);
                loadDataToTool(data.count);
            }
        };
        function showRelation(){
            var diag = Record.diagram;
            var model = diag.model;
            var nodeDataArray = model.nodeDataArray;
            var linkDataArray = model.linkDataArray;
            var topoType = Record.params.topoType;
            var linkTypeToHide = [];
            switch (topoType){
                // 部署关系图
                case '1' : {
                    linkTypeToHide = [2,3,4,6,7];
                    break;
                }
                //通信关系图
                case '2' : {
                    linkTypeToHide = [7,8];
                    break;
                }
                // 物理连接关系图
                case '3' : {
                    linkTypeToHide = [1,5];
                    break;
                }
            };
            diag.startTransaction('showRelation');
            $.each(nodeDataArray,function(i,perNode){
                var nodeData = model.findNodeDataForKey(perNode.key);
                model.setDataProperty(nodeData, 'visible', false);
            });
            $.each(linkDataArray,function(i,perLink){
                var linkRel = parseInt ( perLink.relation );
                if ( linkTypeToHide.indexOf( linkRel) > -1  ) {
                    // 显示线和线两端的节点
                    model.setDataProperty(perLink,'linkVisible', true);
                    var from = model.findNodeDataForKey( perLink.from );
                    var to = model.findNodeDataForKey( perLink.to );
                    if ( perLink.relation == 7 && ( from.ciMajor == 'DC_MIDDSERVER' || to.ciMajor == 'DC_MIDDSERVER' ) ) {
                        model.setDataProperty(perLink,'linkVisible', false);
                    } else {
                        model.setDataProperty(from, 'visible', true);
                        model.setDataProperty(to, 'visible', true);
                    }
                } else {
                    model.setDataProperty(perLink,'linkVisible', false);
                }
            });

            diag.commitTransaction('showRelation');
        };
        function loadDataToDiagram(data){
            if (data.type == 1){
                var newData = {};
                newData['class'] = 'go.GraphLinksModel';
                newData['copiesArrays'] = true;
                newData['copiesArrayObjects'] = true;
                newData['linkFromPortIdProperty'] = 'fromPort';
                newData['linkToPortIdProperty'] = 'toPort';
                newData['nodeDataArray'] = data.nodeDataArray;
                newData['linkDataArray'] = data.linkDataArray || [];
                $.each(data.nodeDataArray,function(i,perNode){
                    perNode.key = perNode.id;
                    perNode.source = getStatusItem('devices', perNode.ciCode ).image;
                });
                // var blackRel = [];
                for (var i = newData['linkDataArray'].length - 1; i >= 0; i--) {
                    var perLink = newData['linkDataArray'][i];
                    perLink.color = getStatusItem( 'relation', perLink.relation || 1 ).hex;
                    if (perLink.relation == 1) {
                        perLink.visible = false;
                    }
                };
            } else {
                var newData = data.topoJson;
            }
            var diag = Record.diagram;
            diag.model = new go.Model.fromJson(newData);
            // 后处理
            if ( data.type != 1){
                resetLayout(diag,newData);
            } else {
                // 默认
                // diag.model.layoutName = "ForceDirectedLayout";
                // 不延迟->图片消失
                setTimeout(function(){
                    setLayout('拓扑');
                    // diag.zoomToFit();
                },1000);
                // if (Record.params.topoType == '0') {
                //     setTimeout(function(){
                //         diag.startTransaction('load');
                //         diag.model.addLinkDataCollection(blackRel);
                //         diag.commitTransaction('load');
                //     },2000)
                // }
            }
        }
        function resetLayout(diag,json) {
            if(json.layoutName == undefined || json.layoutName == 'Layout'){
                diag.model.layoutName = "Layout";
            }else if(json.layoutName == "LayeredDigraphLayout"){

                diag.model.layoutName = "LayeredDigraphLayout";
                diag.layout= go.GraphObject.make(go.LayeredDigraphLayout,{isInitial:false});
            }else if(json.layoutName == "SerpentineLayout"){

                diag.model.layoutName = "SerpentineLayout";
                diag.layout= go.GraphObject.make(SerpentineLayout,{isInitial:false});
            }else if(json.layoutName == "SpiralLayout"){

                diag.model.layoutName = "SpiralLayout";
                diag.layout= go.GraphObject.make(SpiralLayout,{isInitial:false});
            }else if(json.layoutName == "GridLayout"){

                diag.model.layoutName = "GridLayout";
                diag.layout= go.GraphObject.make(go.GridLayout,{isInitial:false,cellSize:go.Size.parse(10,10),sorting:go.GridLayout.Forward});
            }else if(json.layoutName == "TreeLayout"){

                diag.model.layoutName = "TreeLayout";
                diag.layout= go.GraphObject.make(go.TreeLayout,{isInitial:false});
            }else if(json.layoutName == "CircularLayout"){
                diag.model.layoutName = "CircularLayout";
                diag.layout= go.GraphObject.make(go.CircularLayout,{isInitial:false});
            }else if(json.layoutName == 'ForceDirectedLayout'){
                diag.model.layoutName = "ForceDirectedLayout";
                diag.layout= go.GraphObject.make(go.ForceDirectedLayout,{isInitial:false});
            }
        }
        function loadDataToTool(count){
            var dom = $('#Graph-tool-display .list-group');
            dom.html('');
            $.each(count,function(i,perType){
                var status = getStatusItem('devices',perType.ciMajor);
                dom.append('<li class="list-group-item clicked" data-ciMajor="'+perType.ciMajor+'">'+
                    '<i class="'+status.icon+'"></i>'+
                    '<span>'+ perType.sum +' </span>'+
                    '<span>'+ status.text +'</span>'+
                    '</li>');
            });
        };
        // 显示隐藏节点
        function displayNode(ciMajor , showOrNot){
            var diag  = Record.diagram;
            var nodes = diag.model.nodeDataArray;
            diag.startTransaction("displayNode");
            $.each(nodes,function(i,perNode){
                if(perNode.ciMajor == ciMajor){
                    var nodeData = diag.model.findNodeDataForKey(perNode.key);
                    diag.model.setDataProperty(nodeData, 'visible', showOrNot);
                }
            });
            diag.commitTransaction("displayNode");
        };

        function setLayout(type){
            var diag = Record.diagram; 
            diag.startTransaction('setDiagramLayout');
            if (type == '拓扑') {
                diag.layout = go.GraphObject.make(go.ForceDirectedLayout);
                diag.model.layoutName = 'ForceDirectedLayout';
            } else if (type == '应用层级'){
                diag.layout = go.GraphObject.make(go.TreeLayout,{  
                    angle: 90,
                    nodeSpacing: 20,
                    layerSpacing: 40,
                    isOngoing:false
                });
                diag.model.layoutName = 'TreeLayout';
            } else if (type == '环形'){
                diag.model.layoutName = 'CircularLayout';
                diag.layout = go.GraphObject.make(go.CircularLayout);
            }
            diag.commitTransaction('setDiagramLayout');
        }

        function initTheDiagram(){

            var $ = go.GraphObject.make;  
            myDiagram =
            $(go.Diagram, "Graph",
            {
                "toolManager.hoverDelay":10,
                "toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,
                // initialAutoScale : go.Diagram.Uniform,
                initialContentAlignment: go.Spot.Center,
                layout: $(go.Layout, {
                    isInitial: false
                }),
                // layout: $(go.ForceDirectedLayout ,{
                //     // defaultSpringLength : 90，
                //     isInitial:true
                // })
                ViewportBoundsChanged:function(e){
                    resetScale();
                }
            });

            myDiagram.nodeTemplate =
            $(go.Node, "Horizontal",
                new go.Binding('visible'),
                new go.Binding("location", "loc",go.Point.parse).makeTwoWay(go.Point.stringify),
                {   locationSpot: go.Spot.Center,
                    toEndSegmentLength: 30,
                    fromEndSegmentLength: 30
                },
                {
                    doubleClick: function(e, node) {
                        showNodeDetail(node);
                    },
                    selectionChanged: function(){} 
                },
                $(go.Panel,'Vertical',
                    $(go.Panel,'Spot',
                        // 图片背景
                        // $(go.Panel, "Auto",
                        //     $(go.Shape, 
                        //     {
                        //         width:80,
                        //         height:80,
                        //         figure:'Circle',
                        //         fill: "#f1f1f1",
                        //         stroke: null
                        //     },
                        //     new go.Binding("fill", "type", genderBrushConverter)
                        //     )),
                        $(go.Picture, {
                            source:'dist/img/avatar.png',
                            width: 48,
                            height: 48,
                            margin:5,
                            alignment:go.Spot.BottomLeft,
                            background:null
                        }, new go.Binding("source"),
                        new go.Binding('background','shadow',function(val){
                            return val == 1 ? 'rgb(200,200,200)' : null; 
                        })),
                        $("TreeExpanderButton",{
                            alignment: go.Spot.TopRight,
                            width:20,height:20,scale:1
                            // mouseEnter:function(e, obj) { obj.scale = 1.4; },
                            // mouseLeave:function(e, obj) { obj.scale = 1; }
                        })
                        ),
                    $(go.TextBlock,{
                        font: "bold 16px Helvetica, bold Arial, sans-serif",
                        stroke: "#000" 
                    },new go.Binding("text", "resName"))
                    )

                );


            myDiagram.linkTemplate =
            $(go.Link,
            new go.Binding('visible','linkVisible'),
            {
                layoutConditions: go.Part.LayoutNone,
                // routing: go.Link.Normal,
                // 该属性设置曲线 且routing为Orthogonal时会夸张曲
                curve: go.Link.Bezier,
                reshapable:true,
                // 直角
                // routing: go.Link.Orthogonal,
                // curve: go.Link.JumpOver,
                // 该值设置直角程度,需加上 JumpOver
                // corner: 5
            },
            {
                mouseHover:function(e,obj){
                    myDiagram.startTransaction('setLinkText');
                    myDiagram.model.setDataProperty(obj.data,"linkState", getStatusItem('relation',obj.data.relation || 1).text );
                    myDiagram.commitTransaction('setLinkText');
                },
                mouseLeave:function(e,obj){
                    myDiagram.startTransaction('setLinkText');
                    myDiagram.model.setDataProperty(obj.data,'linkState','' );
                    myDiagram.commitTransaction('setLinkText');
                }
            },
            $(go.Shape,
                { name: "OBJSHAPE",stroke: "#00c0ef",strokeWidth: 2 , visible:true },
                new go.Binding('stroke','color')),
            $(go.Shape,
                { name: "ARWSHAPE", toArrow: "Standard" ,stroke: "#00c0ef" ,fill:'#00c0ef',scale:1.3,visible:true},
                new go.Binding('stroke','color'),
                new go.Binding('fill','color'),
                new go.Binding('visible')),
            $(go.TextBlock, {
                // border:'1px solid',
                segmentOffset: new go.Point(0, 20),
                isMultiline:true,
                maxLines:4,
                wrap:go.TextBlock.WrapDesiredSize,
                overflow:go.TextBlock.OverflowEllipsis,
                // textAlign: "left",
                font: "bold 16px Helvetica, bold Arial, sans-serif",
                stroke: "#333333",
                visible: true,
                editable: false 
            }, new go.Binding("text","linkState"))
            );

            function genderBrushConverter(type) {
                return "orange";
            }
            
            Record.diagram = myDiagram;
        };
        function resizeDiagBoxHeight(){
            $('#Graph-box').height($(window).height() - 200 );
        };
        function saveTopo(){
            Tool.confirm({
                title:"是否确认保存该标签下的布局数据？！",
                confirm:function(){
                    var viewStr = Record.diagram.model.toJSON();
                    var viewObj = JSON.parse(viewStr);
                    viewObj.layoutName = Record.diagram.model.layoutName;
                    fetchData('resourceTopo/saveTopoOnTag','json',{
                        topoJson : JSON.stringify(viewObj),
                        appTag: Record.params.appTag,
                        topoType : Record.params.topoType
                    },{
                        success:function(res){
                            if (res.success){
                                Tool.message({text:'保存成功'});
                                $('#Graph-tool-edit').removeClass('show');
                                $('#Graph-box .tools .tool[href="#Graph-tool-edit"]').removeClass('clicked');
                            } else {
                                Tool.message({
                                    text:'保存失败！'+res.msg,
                                    status:'danger',
                                    time:5000
                                });
                            }
                        }
                    });
                }
            })
        };
        // 批量设置标签
        function setTag(){
            if( Record.diagram.selection.count == 0){
                Tool.message({
                    text:'请选择一个以上设备！“点击拓扑图Ctrl+A可全选~”',
                    time:5000
                });
                return;
            };
            var ids = [];
            Record.diagram.selection.each(function(node){
                ids.push(node.data.id);
            });
            Tool.confirm({
                title:'设置标签',
                body:'<select class="select2" id="Confirm-tags" multiple="multiple" data-closeOnSelect="false"></select>',
                confirm:function(){
                    var tags = [];
                    var sels = $('#Confirm-tags').select2('data');
                    $.each(sels,function(i,perD){
                        tags.push(perD.tagName);
                    });
                    saveTags(ids.join(','),tags.join(','));
                }
            });
            fetchData('resource/getAllTags','json',null,{
                success:function(res){
                    $.each(res.data,function(i,perT){
                        perT.text = perT.tagName;
                    });
                    $('#Confirm-tags').select2({
                        data:res.data,
                        closeOnSelect:false
                    });
                }
            });
        };
        function saveTags(ids,tagsId){
            if ( !tagsId ){ return };
            var params = {
                ids:ids,
                tags:tagsId
            };
            fetchData('resource/setTag','json',params,{
                success:function(res){
                    if (res.success) {
                        Tool.message({text:'设置成功'});
                    } else {
                        Tool.message({
                            text:res.msg,
                            status:'danger',
                            time:5000
                        });
                    }
                }
            })
        };
        function rescaleDP(input){
            var scale = parseInt($(input).val()) / 100;
            Record.diagram.scale = scale;
        };
        // 点击内容
        function plusDiag(plusOrnot){
            var much = plusOrnot ? 30 : -30 ;
            var newV = parseInt( $('#Graph-map .scale').val() ) + much;
            $('#Graph-map .scale').val( newV ).change();
        };
        function resetScale(){
            $('#Graph-map .scale').val( parseFloat(Record.diagram.scale) * 100);
        };
        // 节点详情
        function showNodeDetail(node){
            Tool.loadTemp('webpage/ITSource/view/sourceTable.html',function(){
                var params = {
                    id: node.data.id
                };
                fetchData('resource/getResourceDetail','json',params,{
                    success:function(res){
                        var html = Handlebars.getHTMLByCompile('ITSource-table-detail-template',res.data);
                        $('#Graph-node-detail').html(html);
                        $('#Graph-node-detail-box').removeClass('hide');
                        $('#Graph-node-detail-box')[0].scrollIntoView()
                    },
                    error:function(){

                    }
                });
            });
        };
        // 未分类资源不显示编辑--保存按钮
        function hideSaveBtn(){
            $('#Graph-tool-edit .save').toggleClass('hide',Record.params.appTag == '1' ? true : false );
        }

        // 注册事件
        $('body').on('click','#Graph-tool-relation .list-group-item',function(){
            $(this).addClass('clicked');
            $(this).siblings().removeClass('clicked');
            Record.params.topoType = $(this).attr('data-topoType');
            getData(loadData);
        });
        $('body').on('click','#Graph-box .tools .tool',function(){
            $(this).toggleClass('clicked');
            $(this).siblings().each(function(i,perTool){
                $(this).removeClass('clicked');
                $( $(perTool).attr('href') ).removeClass('show');
            });
            $( $(this).attr('href') ).toggleClass('show');
            
        });
        $('body').on('click','#Graph-tool-display .list-group .list-group-item',function(){
            $(this).toggleClass('clicked');
            var showOrNot = $(this).hasClass('clicked');
            displayNode( $(this).attr('data-ciMajor') ,showOrNot);
        });
        $('body').on('click','#Graph-tool-layout .list-group .list-group-item',function(){
            $(this).addClass('clicked');
            $(this).siblings().removeClass('clicked');
            setLayout(this.innerText);
        });
        $('body').on('click','#Graph-tool-edit .list-group .save',function(){
            saveTopo(this);
        });
        $('body').on('click','#Graph-tool-edit .list-group .setTag',function(){
            setTag(this);
        });
        // 放大条
        $('body').on('input change','#Graph-map .scale',function(){
            rescaleDP(this);
        });
        $('body').on('click','#Graph-map .plus',function(){
            plusDiag(true);
        });
        $('body').on('click','#Graph-map .minus',function(){
            plusDiag(false);
        });
        $(window).on('resize',function(){
            resizeDiagBoxHeight();
        })
        return {
            render:render,
            renderBasic:renderBasic,
            hideSaveBtn:hideSaveBtn
        };
    }));

</script>

<script src="plugins/gojs-1.5.8/go-no.js"></script>
