<script type="text/x-handlebars-template" id="Configuration-basic-template">
    <div class="box box-info box-body" id="Configuration-basic">
        <div class="box-header">
            <ul class="nav nav-tabs nav-justified form-group">
                <li class="active"><a href="#Configuration-SNMP" role="tab" data-toggle="tab">SNMP设备发现</a></li>
                <li><a href="#Configuration-port" role="tab" data-toggle="tab">端口发现</a></li>
                <li><a href="#Configuration-server" role="tab" data-toggle="tab">服务器发现</a></li>
                <li><a href="#Configuration-cloud" role="tab" data-toggle="tab">云环境发现</a></li>
                <li><a href="#Configuration-database" role="tab" data-toggle="tab">数据库发现</a></li>
                <li><a href="#Configuration-middleware" role="tab" data-toggle="tab">中间件发现</a></li>
                <li><a href="#Configuration-mission" role="tab" data-toggle="tab">发现任务</a></li>
            </ul>
        </div>
        <div class="box-body tab-content">
            <div role="tabpanel" class="tab-pane active" id="Configuration-SNMP">
                <div class="tableView">
                    <div id="Configuration-SNMP-table-toolbar" class="toolbar">
                        <div class="form-group">
                            <button type="button" class="btn btn-default addNew">新增</button>
                        </div>
                        <div class="form-group col-sm-7 col-xs-12">
                            <label>选择：</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default checkAll">全选</button>
                                <button type="button" class="btn btn-default uncheckAll">无</button>
                                <button type="button" class="btn btn-default invertCheck">反选</button>
                            </div>
                            <label>操作：</label>
                            <button type="button" class="btn btn-default delete">批量删除</button>
                        </div>
                        <div class="col-sm-5 col-xs-12 form-inline">
                            <div class="pull-right">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-SNMP-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-port">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#Configuration-portStandard" role="tab" data-toggle="tab">标准应用端口</a></li>
                    <li><a href="#Configuration-portCustom" role="tab" data-toggle="tab">客户化应用端口</a></li>
                </ul>
                <div class="box-body tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Configuration-portStandard">
                        <div class="tableView">
                            <div id="Configuration-portStandard-table-toolbar" class="toolbar">
                                <div class="col-sm-12 col-xs-12 form-inline form-group">
                                    <div class="pull-right">
                                        <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                        <button type="button" class="btn btn-default searchBtn">查询</button>
                                    </div>
                                </div>
                            </div>
                            <table id="Configuration-portStandard-table" class="table table-bordered table-hover">
                            </table>
                        </div>
                        <div class="editView"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Configuration-portCustom">
                        <div class="tableView">
                            <div id="Configuration-portCustom-table-toolbar" class="toolbar">
                                <div class="form-group">
                                    <button type="button" class="btn btn-default addNew">新增</button>
                                </div>
                                <div class="form-group col-sm-7 col-xs-12">
                                    <label>选择：</label>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default checkAll">全选</button>
                                        <button type="button" class="btn btn-default uncheckAll">无</button>
                                        <button type="button" class="btn btn-default invertCheck">反选</button>
                                    </div>
                                    <label>操作：</label>
                                    <button type="button" class="btn btn-default delete">批量删除</button>
                                </div>
                                <div class="col-sm-5 col-xs-12 form-inline">
                                    <div class="pull-right">
                                        <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                        <button type="button" class="btn btn-default searchBtn">查询</button>
                                    </div>
                                </div>
                            </div>
                            <table id="Configuration-portCustom-table" class="table table-bordered table-hover">
                            </table>
                        </div>
                        <div class="editView"></div>
                    </div>
                </div>
                

                
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-server">
                <div class="tableView">
                    <div id="Configuration-server-table-toolbar" class="toolbar">
                        <div class="form-group">
                            <button type="button" class="btn btn-default addNew">新增</button>
                        </div>
                        <div class="form-group col-sm-7 col-xs-12">
                            <label>选择：</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default checkAll">全选</button>
                                <button type="button" class="btn btn-default uncheckAll">无</button>
                                <button type="button" class="btn btn-default invertCheck">反选</button>
                            </div>
                            <label>操作：</label>
                            <button type="button" class="btn btn-default delete">批量删除</button>
                        </div>
                        <div class="col-sm-5 col-xs-12 form-inline">
                            <div class="pull-right">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-server-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-cloud">
                <div class="tableView">
                    <div id="Configuration-cloud-table-toolbar" class="toolbar">
                        <div class="form-group">
                            <button type="button" class="btn btn-default addNew">新增</button>
                        </div>
                        <div class="form-group col-sm-7 col-xs-12">
                            <label>选择：</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default checkAll">全选</button>
                                <button type="button" class="btn btn-default uncheckAll">无</button>
                                <button type="button" class="btn btn-default invertCheck">反选</button>
                            </div>
                            <label>操作：</label>
                            <button type="button" class="btn btn-default delete">批量删除</button>
                        </div>
                        <div class="col-sm-5 col-xs-12 form-inline">
                            <div class="pull-right">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-cloud-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-database">
                <div class="tableView">
                    <div id="Configuration-database-table-toolbar" class="toolbar">
                        <div class="form-group">
                            <button type="button" class="btn btn-default addNew">新增</button>
                        </div>
                        <div class="form-group col-sm-7 col-xs-12">
                            <label>选择：</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default checkAll">全选</button>
                                <button type="button" class="btn btn-default uncheckAll">无</button>
                                <button type="button" class="btn btn-default invertCheck">反选</button>
                            </div>
                            <label>操作：</label>
                            <button type="button" class="btn btn-default delete">批量删除</button>
                        </div>
                        <div class="col-sm-5 col-xs-12 form-inline">
                            <div class="pull-right">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-database-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-middleware">
                <div class="tableView">
                    <div id="Configuration-middleware-table-toolbar" class="toolbar">
                        <div class="form-group">
                            <button type="button" class="btn btn-default addNew">新增</button>
                        </div>
                        <div class="form-group col-sm-7 col-xs-12">
                            <label>选择：</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default checkAll">全选</button>
                                <button type="button" class="btn btn-default uncheckAll">无</button>
                                <button type="button" class="btn btn-default invertCheck">反选</button>
                            </div>
                            <label>操作：</label>
                            <button type="button" class="btn btn-default delete">批量删除</button>
                        </div>
                        <div class="col-sm-5 col-xs-12 form-inline">
                            <div class="pull-right">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-middleware-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-mission">
                <div class="tableView">
                    <div id="Configuration-mission-table-toolbar" class="toolbar">
                        <div class="form-group">
                            <button type="button" class="btn btn-default addNew">新增</button>
                            <button type="button" class="btn btn-default setAgent">设置发现代理</button>
                        </div>
                        <div class="form-group col-sm-7 col-xs-12">
                            <label>选择：</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default checkAll">全选</button>
                                <button type="button" class="btn btn-default uncheckAll">无</button>
                                <button type="button" class="btn btn-default invertCheck">反选</button>
                            </div>
                            <label>操作：</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default scan">启动扫描</button>
                                <button type="button" class="btn btn-default delete">批量删除</button>
                            </div>
                            
                        </div>
                        <div class="col-sm-5 col-xs-12 form-inline">
                            <div class="pull-right">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-mission-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
        </div>
    </div>
</script>


<script type="text/x-handlebars-template" id="Configuration-SNMP-editView">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>SNMP设备发现策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label">策略名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">端口：</label>
            <div class="col-sm-5">
                <input type="text" name="port" class="form-control" value="{{port}}">
            </div>
        </div>
        <div class="form-group changeViewBox">
            <label class="col-sm-2 control-label">协议版本：</label>
            <div class="col-sm-5">
                <select class="form-control changeView" name="protVersion" value="{{protVersion}}">
                    <option value="v1/v2">v1/v2</option>
                    <option value="v3">v3</option>
                </select>
            </div>
        </div>
        <div class="form-group" data-belong="v1/v2">
            <label class="col-sm-2 control-label">读团体名：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="rGroupName" value="{{rGroupName}}">
            </div>
        </div>
        <div class="form-group hide" data-belong="v3">
            <label class="col-sm-2 control-label">安全用户名：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="safeName" value="{{safeName}}">
            </div>
        </div>
        <div class="form-group hide" data-belong="v3">
            <label class="col-sm-2 control-label">签名协议：</label>
            <div class="col-sm-5">
                <select class="form-control" name="signatureProt" value="{{signatureProt}}">
                    <option value="">无</option>
                    <option value="DES">DES</option>
                </select>
            </div>
        </div>
        <div class="form-group hide" data-belong="v3">
            <label class="col-sm-2 control-label">签名口令：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="signaturePassw" value="{{signaturePassw}}">
            </div>
        </div>
        <div class="form-group hide" data-belong="v3">
            <label class="col-sm-2 control-label">加密协议：</label>
            <div class="col-sm-5">
                <select class="form-control" name="encryptProt" value="encryptProt">
                    <option value="">无</option>
                    <option value="HMAC-MD5">HMAC-MD5</option>
                    <option value="HMAC-SHA">HMAC-SHA</option>
                </select>
            </div>
        </div>
        <div class="form-group hide" data-belong="v3">
            <label class="col-sm-2 control-label">加密口令：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="encryptPassw" value="{{encryptPassw}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle">取消</button>
            </div>
        </div>
    </form>
</script>


<script type="text/x-handlebars-template" id="Configuration-server-editView">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>服务器发现策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label">策略名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}">
            </div>
        </div>
        <div class="form-group changeViewBox">
            <label class="col-sm-2 control-label">协议类型：</label>
            <div class="col-sm-5">
                <select class="form-control changeView" name="prot" value="{{prot}}">
                    <option value="WMI">WMI</option>
                    <option value="SSH">SSH</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">端口：</label>
            <div class="col-sm-5">
                <input type="text" name="port" class="form-control" value="{{port}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">账户：</label>
            <div class="col-sm-5">
                <input type="text" name="account" class="form-control" value="{{account}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" name="password" value="{{password}}">
            </div>
        </div>
        <div class="form-group" data-belong="WMI">
            <label class="col-sm-2 control-label">域：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="domain" value="{{domain}}">
            </div>
        </div>
        <div class="form-group hide" data-belong="SSH">
            <label class="col-sm-2 control-label">回显符：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="echo" value="{{echo}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">字符编码：</label>
            <div class="col-sm-5">
                <select class="form-control" name="encoding" value="{{encoding}}">
                    <option value=""></option>
                    <option value="utf8">utf8</option>
                    <option value="gbk">gbk</option>
                    <option value="gb2312">gb2312</option>
                    <option value="latin1">latin1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="Configuration-cloud-editView">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>云环境发现策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label">策略名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">管理域类型：</label>
            <div class="col-sm-5">
                <select class="form-control" name="domainType" value="{{domainType}}">
                    <option value="vmware">vmware</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">管理域IP：</label>
            <div class="col-sm-5">
                <input type="text" name="domainIp" class="form-control" value="{{domainIp}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名：</label>
            <div class="col-sm-5">
                <input type="text" name="account" class="form-control" value="{{account}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">口令：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" name="password" value="{{password}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="Configuration-database-editView">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>数据库发现策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label">策略名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}">
            </div>
        </div>
        <div class="form-group changeViewBox">
            <label class="col-sm-2 control-label">数据库类型：</label>
            <div class="col-sm-5">
                <select class="form-control changeView" name="dbType" value="{{dbType}}">
                    <option value="Oracle">Oracle</option>
                    <option value="SQL Server">SQL Server</option>
                    <option value="Mysql">Mysql</option>
                    <option value="DB2">DB2</option>
                </select>
            </div>
        </div>
        <div data-belong="Oracle">
            <div class="form-group changeViewBox">
                <label class="col-sm-2 control-label">连接类型：</label>
                <div class="col-sm-5">
                    <select class="form-control changeView" name="connectType" value="{{connectType}}">
                        <option value="服务名" selected="selected">服务名</option>
                        <option value="实例名">实例名</option>
                    </select>
                </div>
            </div>
            <div class="form-group" data-belong="服务名">
                <label class="col-sm-2 control-label">服务名：</label>
                <div class="col-sm-5">
                    <input type="text" name="dbName" class="form-control" value="{{dbName}}">
                </div>
            </div>
            <div class="form-group hide" data-belong="实例名">
                <label class="col-sm-2 control-label">实例名：</label>
                <div class="col-sm-5">
                    <input type="text" name="dbName" class="form-control" value="{{dbName}}">
                </div>
            </div>
        </div>
        <div class="form-group hide" data-belong="SQL Server#Mysql#DB2">
            <label class="col-sm-2 control-label">数据库名：</label>
            <div class="col-sm-5">
                <input type="text" name="dbName" class="form-control" value="{{dbName}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">端口：</label>
            <div class="col-sm-5">
                <input type="text" name="port" class="form-control" value="{{port}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">账户：</label>
            <div class="col-sm-5">
                <input type="text" name="account" class="form-control" value="{{account}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" name="password" value="{{password}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">字符编码：</label>
            <div class="col-sm-5">
                <select class="form-control" name="encoding" value="{{encoding}}">
                    <option value=""></option>
                    <option value="utf8">utf8</option>
                    <option value="gbk">gbk</option>
                    <option value="gb2312">gb2312</option>
                    <option value="latin1">latin1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="Configuration-middleware-editView">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>中间件发现策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label">策略名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}">
            </div>
        </div>
        <div class="form-group changeViewBox">
            <label class="col-sm-2 control-label">中间件类型：</label>
            <div class="col-sm-5">
                <select class="form-control changeView" name="OSType" value="{{OSType}}">
                    <option value="Tomcat">Tomcat</option>
                    <option value="Weblogic">Weblogic</option>
                    <option value="Websphere">Websphere</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">端口：</label>
            <div class="col-sm-5">
                <input type="text" name="port" class="form-control" value="{{port}}">
            </div>
        </div>
        <div class="form-group hide" data-belong="Websphere">
            <label class="col-sm-2 control-label">soap端口：</label>
            <div class="col-sm-5">
                <input type="text" name="soapPort" class="form-control" value="{{soapPort}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">账户：</label>
            <div class="col-sm-5">
                <input type="text" name="account" class="form-control" value="{{account}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" name="password" value="{{password}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="Configuration-mission-editView">
        <ol class="breadcrumb">
        <li class="backToTableView"><a>发现任务策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label">任务名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">调度计划：</label>
            <div class="col-sm-5">
                <select class="form-control schedulePlan" multiple="multiple" name="scheduleId" value="{{scheduleId}}">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">发现内容：</label>
            <div class="col-sm-5">
                <select class="form-control select2" multiple="multiple" name="content" value="{{content}}">
                    <option selected="selected" value="1">物理设备</option>
                    <option selected="selected" value="2">端口</option>
                    <option selected="selected" value="3">服务器</option>
                    <option selected="selected" value="4">云环境</option>
                    <option selected="selected" value="5">数据库</option>
                    <option selected="selected" value="6">中间件</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">目标设备：</label>
            <div class="ips col-sm-10">
                <button class="btn add">+</button>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="Configuration-mission-editView-ip-template">
    <div class="ip form-group col-sm-12">
        <div class="showInline changeViewBox">
            <select class="targetDevice form-control changeView">
                <option value="指定IP" selected="selected">指定IP</option>
                <option value="IP地址段">IP地址段</option>
                <option value="CIDR">CIDR</option>
            </select>
        </div>
        <div class="showInline" data-belong="指定IP">
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">
        </div>
        <div class="showInline hide" data-belong="IP地址段">
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">--
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">
        </div>
        <div class="showInline hide" data-belong="CIDR">
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">.
            <input class="form-control ipBox" type="text">/
            <input class="form-control ipBox" type="text">
        </div>
        <button class="btn remove">-</button>
    </div>
</script>

<script type="text/x-handlebars-template" id="Configuration-portStandard-editView">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>标准应用端口策略</a></li>
        {{#if id}}
        <li class="active">{{appName}}</li>
        {{else}}
        <li class="active">新增端口</li>
        {{/if}}
    </ol>
    <div class="form-group">
        <input name="id" type="hidden" value="{{id}}">
        <input class="form-control" name="appName" type="hidden" value="{{appName}}">
    </div>
    <div class="tags form-inline form-group">
        {{#each ports}}
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong class="text">{{this}}</strong>
        </div>
        {{/each}}
        <input type="text" class="form-control">
        <button type="button" class="btn bg-gray-active btn-flat addTag">+</button>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default save">保存</button>
            <button class="btn btn-default cancle">取消</button>
        </div>
    </div>
</script>


<script type="text/x-handlebars-template" id="Configuration-portCustom-editView">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>客户化应用端口策略</a></li>
        {{#if id}}
        <li class="active">{{appName}}</li>
        {{else}}
        <li class="active">新增端口</li>
        {{/if}}
    </ol>
    <div class="col-sm-12 form-group form-horizontal">
        <input name="id" type="hidden" value="{{id}}">
        <label class="col-sm-2 control-label">应用名称：</label>
        <div class="col-sm-4">
            <input class="form-control" name="appName" type="text" value="{{appName}}">
        </div>
    </div>
    <div class="tags form-inline form-group col-sm-12">
        {{#each ports}}
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong class="text">{{this}}</strong>
        </div>
        {{/each}}
        <input type="text" class="form-control">
        <button type="button" class="btn bg-gray-active btn-flat addTag">+</button>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default save">保存</button>
            <button class="btn btn-default cancle">取消</button>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="tag-template">
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong class="text"></strong>
    </div>
</script>

<link rel="stylesheet" href="bower_components/bootstrap-table/dist/bootstrap-table.min.css">

<script src="bower_components/bootstrap-table/dist/bootstrap-table.js"></script>
<!-- Select2 -->
<script src="bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="webpage/Configuration/js/configuration.js"></script>

<!-- <script src="bower_components/bootstrap-table/dist/extensions/filter/bootstrap-table-filter.min.js"></script> -->
<script src="bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>