<script type="text/x-handlebars-template" id="Configuration-basic-template">
    <div class="box box-info box-body" id="Configuration-basic">
        <div class="box-header">
            <ul class="nav nav-tabs nav-justified form-group">
                <li class="active"><a href="#Configuration-mission" role="tab" data-toggle="tab">发现任务定义</a></li>
                <li><a href="#Configuration-SNMP" role="tab" data-toggle="tab">SNMP设备策略</a></li>
                <li><a href="#Configuration-port" role="tab" data-toggle="tab">端口策略</a></li>
                <li><a href="#Configuration-DC_HOST" role="tab" data-toggle="tab">服务器策略</a></li>
                <li><a href="#Configuration-DC_DBS" role="tab" data-toggle="tab">数据库策略</a></li>
                <li><a href="#Configuration-DC_MIDDSERVER" role="tab" data-toggle="tab">中间件策略</a></li>
                <li><a href="#Configuration-cloud" role="tab" data-toggle="tab">云环境策略</a></li>
            </ul>
        </div>
        <div class="box-body tab-content">
            <div role="tabpanel" class="tab-pane" id="Configuration-SNMP">
                <div class="tableView">
                    <div id="Configuration-SNMP-table-toolbar" class="toolbar">
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <button type="button" class="btn btn-default addNew">新增</button>
                                <button type="button" class="btn btn-default delete">批量删除</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-SNMP-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-port">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#Configuration-portStandard" role="tab" data-toggle="tab">标准应用端口</a></li>
                    <li><a href="#Configuration-portCustom" role="tab" data-toggle="tab">客户化应用端口</a></li>
                </ul>
                <div class="box-body tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Configuration-portStandard">
                        <div class="tableView">
                            <div id="Configuration-portStandard-table-toolbar" class="toolbar">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group pull-right form-inline">
                                        <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                        <button type="button" class="btn btn-default searchBtn">查询</button>
                                    </div>
                                </div>
                            </div>
                            <table id="Configuration-portStandard-table" class="table table-bordered table-hover">
                            </table>
                        </div>
                        <div class="editView"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Configuration-portCustom">
                        <div class="tableView">
                            <div id="Configuration-portCustom-table-toolbar" class="toolbar">
                                <div class="col-sm-12 col-xs-12">
                                    <span class="form-group showInline">
                                        <label>选择：</label>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default checkAll">全选</button>
                                            <button type="button" class="btn btn-default uncheckAll">无</button>
                                            <button type="button" class="btn btn-default invertCheck">反选</button>
                                        </div>
                                        <label>操作：</label>
                                        <button type="button" class="btn btn-default addNew">新增</button>
                                        <button type="button" class="btn btn-default delete">批量删除</button>
                                    </span>
                                    <div class="form-group pull-right form-inline">
                                        <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                        <button type="button" class="btn btn-default searchBtn">查询</button>
                                    </div>
                                </div>
                            </div>
                            <table id="Configuration-portCustom-table" class="table table-bordered table-hover">
                            </table>
                        </div>
                        <div class="editView"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-DC_HOST">
                <div class="tableView">
                    <div id="Configuration-DC_HOST-table-toolbar" class="toolbar">
                        <div class="form-group">
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <button type="button" class="btn btn-default addNew">新增</button>
                                <button type="button" class="btn btn-default delete">批量删除</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-DC_HOST-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-cloud">
                <div class="tableView">
                    <div id="Configuration-cloud-table-toolbar" class="toolbar">
                        <div class="form-group">
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <button type="button" class="btn btn-default addNew">新增</button>
                                <button type="button" class="btn btn-default delete">批量删除</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-cloud-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-DC_DBS">
                <div class="tableView">
                    <div id="Configuration-DC_DBS-table-toolbar" class="toolbar">
                        <div class="form-group">
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <button type="button" class="btn btn-default addNew">新增</button>
                                <button type="button" class="btn btn-default delete">批量删除</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-DC_DBS-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Configuration-DC_MIDDSERVER">
                <div class="tableView">
                    <div id="Configuration-DC_MIDDSERVER-table-toolbar" class="toolbar">
                        <div class="form-group">
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <button type="button" class="btn btn-default addNew">新增</button>
                                <button type="button" class="btn btn-default delete">批量删除</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-DC_MIDDSERVER-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="Configuration-mission">
                <div class="tableView">
                    <div id="Configuration-mission-table-toolbar" class="toolbar">
                        <div class="form-group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default addNew">新增</button>
                                <button type="button" class="btn btn-default" style="border-top-right-radius: 3px;border-bottom-right-radius: 3px" data-toggle="dropdown">?</button>
                                <div class="dropdown-menu" style="min-width:566px;padding: 3px">
                                    <p>发现策略使用说明：</p>
                                    <p style="text-indent: 2em">网络拓扑发现：建立SNMP协议，填写核心网关IP(路由器或交换机IP)</p>
                                    <p style="text-indent: 2em">服务器发现：建立服务器账号</p>
                                    <p style="text-indent: 2em">数据库发现：MySql建立JDBC协议；其他数据库需建立服务器账号+JDBC协议，在JDBC协议填写操作系统账号</p>
                                    <p style="text-indent: 2em">中间件发现：WebSphere建立服务器账号，Tomcat/WebLogic建立相关中间件协议</p>
                                    <p style="text-indent: 2em">云环境发现：建立云账号</p>
                                </div>
                            </div>
                            <button type="button" class="btn btn-default setNest" data-nestTemp="Configuration-agent-template">设置发现代理</button>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default scan">启动扫描</button>
                                    <button type="button" class="btn btn-default delete">批量删除</button>
                                </div>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="Configuration-mission-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
                <div class="nest"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="Configuration-agent-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>发现任务策略</a></li>
        <li class="active">设置发现代理</li>
    </ol>
    <div class="tab-pane" id="Configuration-agent">
        <div class="tableView">
            <div id="Configuration-agent-table-toolbar" class="toolbar">
                <div class="col-sm-12 form-inline form-group">
                    <label class="form-group control-label">代理：</label>
                    <div class="form-group" style="width: 300px">
                        <select class="ip" ></select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default addAgent">快速添加</button>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <span class="form-group showInline">
                        <label>选择：</label>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default checkAll">全选</button>
                            <button type="button" class="btn btn-default uncheckAll">无</button>
                            <button type="button" class="btn btn-default invertCheck">反选</button>
                        </div>
                        <label>操作：</label>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default delete">批量删除</button>
                        </div>
                    </span>
                    <div class="form-group pull-right form-inline">
                        <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                        <button type="button" class="btn btn-default searchBtn">查询</button>
                    </div>
                </div>
            </div>
            <table id="Configuration-agent-table" class="table table-bordered table-hover">
            </table>
        </div>
        <div class="editView"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="Configuration-SNMP-editView-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>SNMP设备发现策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label required">策略名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">端口：</label>
            <div class="col-sm-5">
                <input type="text" name="port" class="form-control" value="{{#if port}}{{port}}{{else}}161{{/if}}" required>
            </div>
        </div>
        <div class="form-group changeViewBox">
            <label class="col-sm-2 control-label">协议版本：</label>
            <div class="col-sm-5">
                <select class="form-control changeView" name="version" value="{{version}}">
                    <option value="2">v1/v2</option>
                    <!-- <option value="3">v3</option> -->
                </select>
            </div>
        </div>
        <div class="form-group" data-belong="2">
            <label class="col-sm-2 control-label required">读团体名：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="publicName" value="{{publicName}}" required>
            </div>
        </div>
        <div class="form-group hide" data-belong="3">
            <label class="col-sm-2 control-label required">安全用户名：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="safeName" value="{{safeName}}" required>
            </div>
        </div>
        <div class="form-group hide" data-belong="3">
            <label class="col-sm-2 control-label">签名协议：</label>
            <div class="col-sm-5">
                <select class="form-control" name="signatureProt" value="{{signatureProt}}">
                    <option value="">无</option>
                    <option value="DES">DES</option>
                </select>
            </div>
        </div>
        <div class="form-group hide" data-belong="3">
            <label class="col-sm-2 control-label">签名口令：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control password" name="signaturePassw" value="{{signaturePassw}}">
            </div>
            <div class="col-sm-2">
                <label class="checkbox-label checkbox-label-password">
                    <input type="checkbox" class="label-checkbox encryptCheckbox" value="1">
                    <div></div>
                </label>
            </div>
        </div>
        <div class="form-group hide" data-belong="3">
            <label class="col-sm-2 control-label">加密协议：</label>
            <div class="col-sm-5">
                <select class="form-control" name="encryptProt" value="{{encryptProt}}">
                    <option value="">无</option>
                    <option value="HMAC-MD5">HMAC-MD5</option>
                    <option value="HMAC-SHA">HMAC-SHA</option>
                </select>
            </div>
        </div>
        <div class="form-group hide" data-belong="3">
            <label class="col-sm-2 control-label">加密口令：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control password" name="encryptPassw" value="{{encryptPassw}}">
            </div>
            <div class="col-sm-2">
                <label class="checkbox-label checkbox-label-password">
                    <input type="checkbox" class="label-checkbox encryptCheckbox" value="1">
                    <div></div>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle backToTableView">取消</button>
            </div>
        </div>
    </form>
</script>


<script type="text/x-handlebars-template" id="Configuration-DC_HOST-editView-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>服务器发现策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label required">策略名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}" required>
            </div>
        </div>
        <div class="form-group changeViewBox">
            <label class="col-sm-2 control-label required">协议类型：</label>
            <div class="col-sm-5">
                <select class="form-control changeView changePort" data-book="connectProt" name="type" value="{{type}}" required>
                    <option value="1">WMI</option>
                    <option value="2">SSH</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">目标设备：</label>
            <div class="ips col-sm-10 required">
                <button class="btn btn-default add">+</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">端口：</label>
            <div class="col-sm-5">
                <input type="text" name="port" class="form-control" value="{{port}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">账户：</label>
            <div class="col-sm-5">
                <input type="text" name="username" class="form-control" value="{{username}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">密码：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control password" name="password" value="{{password}}" required>
            </div>
            <div class="col-sm-2">
                <label class="checkbox-label checkbox-label-password">
                    <input type="checkbox" class="label-checkbox encryptCheckbox" value="1">
                    <div></div>
                </label>
            </div>
        </div>
        <div class="form-group" data-belong="1">
            <label class="col-sm-2 control-label">域：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="domain" value="{{domain}}">
            </div>
        </div>
        <div class="form-group hide" data-belong="2">
            <label class="col-sm-2 control-label required">回显符：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="prompt" value="{{prompt}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">字符编码：</label>
            <div class="col-sm-5">
                <select class="form-control" name="encode" value="{{encode}}">
                    <option value=""></option>
                    <option value="utf8">utf8</option>
                    <option value="gbk">gbk</option>
                    <option value="gb2312">gb2312</option>
                    <option value="latin1">latin1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle backToTableView">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="Configuration-cloud-editView-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>云环境发现策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label required">策略名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">管理域类型：</label>
            <div class="col-sm-5">
                <select class="form-control" name="type" value="{{type}}">
                    <option value="1">vmware</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">管理域IP：</label>
            <div class="col-sm-5">
                <input type="text" name="ip" class="form-control" value="{{ip}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">用户名：</label>
            <div class="col-sm-5">
                <input type="text" name="username" class="form-control" value="{{username}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">口令：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control password" name="password" value="{{password}}" required>
            </div>
            <div class="col-sm-2">
                <label class="checkbox-label checkbox-label-password">
                    <input type="checkbox" class="label-checkbox encryptCheckbox" value="1">
                    <div></div>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle backToTableView">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="Configuration-DC_DBS-editView-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>数据库发现策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label required">策略名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}" required>
            </div>
        </div>
        <div class="form-group changeViewBox">
            <label class="col-sm-2 control-label required">数据库类型：</label>
            <div class="col-sm-5">
                <select class="form-control changeView changePort" data-book="dbType" name="type" value="{{type}}">
                    <option value="1">Mysql</option>
                    <option value="2">Oracle</option>
                    <option value="3">DB2</option>
                    <option value="4">SQL Server</option>
                </select>
            </div>
        </div>
        <div data-belong="2">
            <div class="form-group changeViewBox">
                <label class="col-sm-2 control-label required">连接类型：</label>
                <div class="col-sm-5">
                    <select class="form-control changeView" name="connType" value="{{connType}}">
                        <option value="2" selected="selected">服务名</option>
                        <option value="1">实例名</option>
                    </select>
                </div>
            </div>
            <div class="form-group" data-belong="2">
                <label class="col-sm-2 control-label required">服务名：</label>
                <div class="col-sm-5">
                    <input type="text" name="dbName" class="form-control" value="{{dbName}}" required>
                </div>
            </div>
            <div class="form-group hide" data-belong="1">
                <label class="col-sm-2 control-label required">实例名：</label>
                <div class="col-sm-5">
                    <input type="text" name="dbName" class="form-control" value="{{dbName}}" required>
                </div>
            </div>
        </div>
        <div class="form-group" data-belong="4#1#3">
            <label class="col-sm-2 control-label required">数据库名：</label>
            <div class="col-sm-5">
                <input type="text" name="dbName" class="form-control" value="{{dbName}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">目标设备：</label>
            <div class="ips col-sm-10 required">
                <button class="btn btn-default add">+</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">端口：</label>
            <div class="col-sm-5">
                <input type="text" name="port" class="form-control" value="{{port}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">账户：</label>
            <div class="col-sm-5">
                <input type="text" name="username" class="form-control" value="{{username}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">密码：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control password" name="password" value="{{password}}" required>
            </div>
            <div class="col-sm-2">
                <label class="checkbox-label checkbox-label-password">
                    <input type="checkbox" class="label-checkbox encryptCheckbox" value="1">
                    <div></div>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">字符编码：</label>
            <div class="col-sm-5">
                <select class="form-control" name="encode" value="{{encode}}">
                    <option value=""></option>
                    <option value="utf8">utf8</option>
                    <option value="gbk">gbk</option>
                    <option value="gb2312">gb2312</option>
                    <option value="latin1">latin1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">操作系统账户：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="sysAccount" value="{{sysAccount}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle backToTableView">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="Configuration-DC_MIDDSERVER-editView-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>中间件发现策略</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label required">策略名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}" required>
            </div>
        </div>
        <div class="form-group changeViewBox">
            <label class="col-sm-2 control-label required">中间件类型：</label>
            <div class="col-sm-5">
                <select class="form-control changeView changePort" data-book="middlewareType" name="type" value="{{type}}" required>
                    <option value="1">Tomcat</option>
                    <option value="2">Weblogic</option>
                    <option value="3">Websphere</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">目标设备：</label>
            <div class="ips col-sm-10 required">
                <button class="btn btn-default add">+</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">端口：</label>
            <div class="col-sm-5">
                <input type="text" name="port" class="form-control" value="{{port}}" required>
            </div>
        </div>
        <div class="form-group hide" data-belong="3">
            <label class="col-sm-2 control-label required">soap端口：</label>
            <div class="col-sm-5">
                <input type="text" name="soapPort" class="form-control" value="{{#if soapPort}}{{soapPort}}{{else}}8880{{/if}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">账户：</label>
            <div class="col-sm-5">
                <input type="text" name="username" class="form-control" value="{{username}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">密码：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control password" name="password" value="{{password}}" required>
            </div>
            <div class="col-sm-2">
                <label class="checkbox-label checkbox-label-password">
                    <input type="checkbox" class="label-checkbox encryptCheckbox" value="1">
                    <div></div>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">操作系统账户：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="sysAccount" value="{{sysAccount}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle backToTableView">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="Configuration-portStandard-editView-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>标准应用端口策略</a></li>
        {{#if id}}
        <li class="active">{{portDesc}}</li>
        {{else}}
        <li class="active">新增端口</li>
        {{/if}}
    </ol>
    <div class="form-group">
        <input name="id" type="hidden" value="{{id}}">
        <input class="form-control" name="portDesc" type="hidden" value="{{portDesc}}">
    </div>
    <div class="tags form-inline form-group">
        {{#each portArr}}
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong class="text">{{this}}</strong>
        </div>
        {{/each}}
        <input type="number" class="form-control">
        <button type="button" class="btn bg-gray-active btn-flat addTag">+</button>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default save">保存</button>
            <button class="btn btn-default cancle backToTableView">取消</button>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="Configuration-portCustom-editView-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>客户化应用端口策略</a></li>
        {{#if id}}
        <li class="active">{{portDesc}}</li>
        {{else}}
        <li class="active">新增端口</li>
        {{/if}}
    </ol>
    <div class="col-sm-12 form-group form-horizontal">
        <input name="id" type="hidden" value="{{id}}">
        <label class="col-sm-2 control-label">应用名称：</label>
        <div class="col-sm-4">
            <input class="form-control" name="portDesc" type="text" value="{{portDesc}}">
        </div>
    </div>
    <div class="form-group col-sm-12 form-horizontal">
        <label class="col-sm-2 control-label">端口：</label>
        <div class="col-sm-10 tags form-inline">
            {{#each portArr}}
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong class="text">{{this}}</strong>
            </div>
            {{/each}}
            <input type="number" class="form-control">
            <button type="button" class="btn bg-gray-active btn-flat addTag">+</button>
        </div>
        
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default save">保存</button>
            <button class="btn btn-default cancle backToTableView">取消</button>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="tag-template">
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong class="text"></strong>
    </div>
</script>

<link rel="stylesheet" href="../bower_components/bootstrap-table/dist/bootstrap-table.min.css">

<script>
    Tool.loadTemp('webpage/Configuration/view/DefineMissionStrategy.html');
    Tool.loadTemp('webpage/Configuration/view/DefineTag.html');

</script>
<script src="../bower_components/bootstrap-table/dist/bootstrap-table.js"></script>

<script src="webpage/Configuration/js/configuration.js"></script>

<!-- <script src="../bower_components/bootstrap-table/dist/extensions/filter/bootstrap-table-filter.min.js"></script> -->
<script src="../bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>