<script type="text/x-handlebars-template" id="tag-template">
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong class="text"></strong>
    </div>
</script>

<script>
    (function (window, factory) {
        if (typeof define === 'function' && define.amd) {
            // AMD
            define(factory);
        } else if (typeof exports === 'object') {
            // Node, CommonJS-like
            module.exports = factory();
        } else {
            // Browser globals (window is window)
            window.DefineTag = factory();
        };
    }(window, function () {
        $('body').on('click','.tags .btn.addTag',function(e){
            clickAddTag(e.target);
        });
        function clickAddTag(dom){
            var prev = $(dom).prev();
            if ( prev.hasClass('hasSelect2') ) {
                // 单选的！
                var num = prev.find('select').val();
                var text = prev.find('.select2-selection__rendered').text();
            } else {
                var text = prev.val();
            }
            if (!text) {
                return false;
            };
            var newOne = $( $('#tag-template').html() );
            newOne.find('.text').text(text);
            newOne.insertBefore( $(dom).prev() );
            if ( prev.hasClass('hasSelect2') ){
                var sel = prev.find('select');
                var data = sel.select2('data')[0];
                data.selected = false;
                data.disabled = true;
                sel.val('').trigger('change');             
            }
        };
        function addTag(dom,text,value){
            var newOne = $( $('#tag-template').html() );
            newOne.find('.text').text(text);
            newOne.insertBefore( $(dom).prev() );
        }

        function collectPortTags(tabId){
            var params = {};
            params.port = [];
            $('#'+tabId).find('.editView .tags .text').each(function(i,perT){
                params.port.push($(perT).text());
            });
            return params;
        }
        return {
            clickAddTag:clickAddTag,
            collectPortTags:collectPortTags,
            addTag:addTag
        };
    }));
    
</script>