<script type="text/x-handlebars-template" id="Configuration-mission-editView-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>{{from}}</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal" id="DefineMissionStrategy-form">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label required">任务名称：</label>
            <div class="col-sm-5">
                <input type="text" name="taskName" class="form-control" value="{{taskName}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">调度计划：</label>
            <div class="col-sm-5">
                <select class="form-control schedulePlan" multiple="multiple" name="schePlanId" value="{{schePlanId}}">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">发现内容：</label>
            <div class="col-sm-5">
                <select class="form-control select2" multiple="multiple" name="scanType" value="{{scanType}}" required>
                    <option selected="selected" value="device">物理设备</option>
                    <option selected="selected" value="port">端口</option>
                    <option selected="selected" value="server">服务器</option>
                    <option selected="selected" value="cloud">云环境</option>
                    <option selected="selected" value="database">数据库</option>
                    <option selected="selected" value="middleware">中间件</option>
                    <option selected="selected" value="connection">应用连接</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">目标设备：</label>
            <div class="ips col-sm-10">
                <button class="btn btn-default add">+</button>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle backToTableView">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="Configuration-mission-editView-ip-template">
    <div class="ip">
        <div class="showInline changeViewBox">
            <select class="targetDevice form-control changeView">
                <option value="1" selected="selected">指定IP</option>
                <option value="2">IP地址段</option>
                <option value="3">CIDR</option>
            </select>
        </div>
        <div class="showInline" data-belong="1">
            <input type="text" class="form-control ipBox" data-inputmask="'alias': 'ip'" data-mask required>
        </div>
        <div class="showInline hide" data-belong="2">
            <input type="text" class="form-control ipBox" data-inputmask="'alias': 'ip'" data-mask required>
            --
            <input type="text" class="form-control ipBox" data-inputmask="'alias': 'ip'" data-mask required>
        </div>
        <div class="showInline hide" data-belong="3">
            <input type="text" class="form-control ipBox" data-inputmask="'alias': 'ip'" data-mask required>/
            <input class="form-control ipBox" type="number" min="0" max="255" required style="width: 70px !important">
        </div>
        <button class="btn btn-default remove">-</button>
    </div>
</script>



<script>
    (function (window, factory) {
        if (typeof define === 'function' && define.amd) {
            // AMD
            define(factory);
        } else if (typeof exports === 'object') {
            // Node, CommonJS-like
            module.exports = factory();
        } else {
            // Browser globals (window is window)
            window.DefineIp = factory();
        };
    }(window, function () {
        // 添加ip
        function addIp(addBtn){
            var newOne = $( $('#Configuration-mission-editView-ip-template').html() );
            newOne.insertBefore( $(addBtn) );
            newOne.find('[data-mask]').inputmask();
            $(addBtn).parents('form').eq(0).validator('update');
            return newOne;
        }
        function removeIp(removeBtn){
            var form = $(removeBtn).parents('form').eq(0);
            $(removeBtn).parent().remove();
            form.validator('update');
        }
        $('body').on('click','.ips .add',function(e){
            e.preventDefault();
            addIp(this);
        });
        $('body').on('click','.ips .remove',function(e){
            e.preventDefault();
            removeIp(this);
        });
        // 独立渲染关于某个dom#ips下的ips
        function renderIpRange( $ips , ipRange ){
            var ipRange = eval( ipRange );
            $.each(ipRange,function(i,perIp){
                var newOne = addIp($ips.find('.add')[0]);
                newOne.find('.targetDevice').val(perIp.type).change();
                switch(perIp.type){
                    case '1' : {
                        var values = [perIp.ip];
                        break;
                    }
                    case '2' : {
                        var values = perIp.ip.split('-');
                        break;
                    }
                    case '3' : {
                        var values = perIp.ip.split('/');
                        break;
                    }
                }
                newOne.find('input:visible').each(function(y,perInput){
                    $(perInput).val(values[y]).focus().blur();
                });
            });
        };
        function collectIps( $ips ){
            var ipRange = [];
            $ips.find('.ip').each(function(i,perIp){
                var ip = {};
                ip.type = $(perIp).find('.targetDevice').val();
                var inputs = $(perIp).find('input:visible');
                switch(ip.type){
                    case '1' : {
                        ip.ip = inputs.eq(0).val();
                        break;
                    }
                    case '2' : {
                        ip.ip = inputs.eq(0).val() + '-' + inputs.eq(1).val();
                        break;
                    }
                    case '3' : {
                        ip.ip = inputs.eq(0).val() + '/' + inputs.eq(1).val();
                        break;
                    }
                };
                ipRange.push(ip);
            });
            // 数组
            return ipRange;
        }
        return {
            renderIpRange:renderIpRange,
            collectIps:collectIps
        };
    }));
    
</script>

<script>
    (function (window, factory) {
        if (typeof define === 'function' && define.amd) {
            // AMD
            define(factory);
        } else if (typeof exports === 'object') {
            // Node, CommonJS-like
            module.exports = factory();
        } else {
            // Browser globals (window is window)
            window.DefineMissionStrategy = factory();
        };
    }(window, function () {
        function render(params) {
            $('#DefineMissionStrategy-form .select2').select2({
                closeOnSelect:false
            });
            fetchData('systemCalenderAction/getSchedulePlans','json',null,{
                success:function(res){
                    var scheduleSel = $('#DefineMissionStrategy-form .schedulePlan');
                    var val = scheduleSel.attr('value').split(',');
                    scheduleSel.select2({
                        data:res,
                        closeOnSelect:false
                    }).val( val ).change();
                }
            });
            if(params && params.ipRange ){
                DefineIp.renderIpRange( $('#DefineMissionStrategy-form .ips') , params.ipRange );
            }
        };

        return {
            render:render
        };
    }));
    
</script>

