<script type="text/x-handlebars-template" id="ITSource-sourceTable-template">
    <div class="box box-info box-body" id="ITSource-sourceTable-box">
        <div class="box-header forNotReport">
            <div class="panel-group" role="tablist" aria-multiselectable="true" id="ITSource-filter">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#ITSource-filter-tags">筛选条件<small>(点此显示或隐藏)：</small></a>
                            <span class="pull-right resetFilter hide" role="button"><small>重置</small></span>
                        </h4>
                    </div>
                    <div id="ITSource-filter-tags" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body" style="padding-top:5px;padding-bottom: 0">
                            <label class="control-label pull-left" style="line-height: 30px">标签：</label>
                            <div class="col-sm-11 form-inline" id="ITSource-filter-tags-box">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs nav-justified form-group">
                <li><a href="#ITSource-sourceTable-server" data-tabCode="server" role="tab" data-toggle="tab">服务器</a></li>
                <li><a href="#ITSource-sourceTable-db" data-tabCode="db" role="tab" data-toggle="tab">数据库</a></li>
                <li><a href="#ITSource-sourceTable-middleware" data-tabCode="middleware" role="tab" data-toggle="tab">中间件</a></li>
                <li><a href="#ITSource-sourceTable-cloud" data-tabCode="cloud" role="tab" data-toggle="tab">云环境</a></li>
                <li><a href="#ITSource-sourceTable-net" data-tabCode="net" role="tab" data-toggle="tab">网络设备</a></li>
                <li><a href="#ITSource-sourceTable-app" data-tabCode="app" role="tab" data-toggle="tab">应用程序</a></li>
            </ul>
        </div>
        <div class="box-body tab-content">
            <div role="tabpanel" class="tab-pane" id="ITSource-sourceTable-server">
                <div class="tableView">
                    <div id="ITSource-server-table-toolbar" class="toolbar">
                        <div class="form-group forNotReport">
                            <button type="button" class="btn btn-default import">导入excle</button>
                            <button type="button" class="btn btn-default addNew">添加</button>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        导出excle
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="exportTable"><a>导出列表</a></li>
                                        <li class="exportDetail"><a>导出详情</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default defMissionStrategy">定义发现策略</button>
                                <button type="button" class="btn btn-default setTag">设置标签</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                        
                    </div>
                    <table id="ITSource-server-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="ITSource-sourceTable-db">
                <div class="tableView">
                    <div id="ITSource-db-table-toolbar" class="toolbar">
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        导出excle
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="exportTable"><a>导出列表</a></li>
                                        <li class="exportDetail"><a>导出详情</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default setTag">设置标签</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="ITSource-db-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="ITSource-sourceTable-middleware">
                <div class="tableView">
                    <div id="ITSource-middleware-table-toolbar" class="toolbar">
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        导出excle
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="exportTable"><a>导出列表</a></li>
                                        <li class="exportDetail"><a>导出详情</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default setTag">设置标签</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="ITSource-middleware-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="ITSource-sourceTable-cloud">
                <div class="tableView">
                    <div id="ITSource-cloud-table-toolbar" class="toolbar">
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        导出excle
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="exportTable"><a>导出列表</a></li>
                                        <li class="exportDetail"><a>导出详情</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default setTag">设置标签</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="ITSource-cloud-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="ITSource-sourceTable-net">
                <div class="tableView">
                    <div id="ITSource-net-table-toolbar" class="toolbar">
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        导出excle
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="exportTable"><a>导出列表</a></li>
                                        <li class="exportDetail"><a>导出详情</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default setTag">设置标签</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="ITSource-net-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="ITSource-sourceTable-app">
                <div class="tableView">
                    <div id="ITSource-app-table-toolbar" class="toolbar">
                        <div class="col-sm-12 col-xs-12">
                            <span class="form-group showInline">
                                <label>选择：</label>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default checkAll">全选</button>
                                    <button type="button" class="btn btn-default uncheckAll">无</button>
                                    <button type="button" class="btn btn-default invertCheck">反选</button>
                                </div>
                                <label>操作：</label>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        导出excle
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="exportTable"><a>导出列表</a></li>
                                        <li class="exportDetail"><a>导出详情</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default setTag">设置标签</button>
                            </span>
                            <div class="form-group pull-right form-inline">
                                <input type="text" class="form-control searchInput" placeholder="输入任意词进行全表格过滤查询" style="width: 250px">
                                <button type="button" class="btn btn-default searchBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <table id="ITSource-app-table" class="table table-bordered table-hover">
                    </table>
                </div>
                <div class="editView"></div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="ITSource-filter-tags-template">
    {{#each this}}
    <button type="button" class="btn btn-flat text">{{tagName}}</button>
    {{/each}}
</script>
<script type="text/x-handlebars-template" id="ITSource-table-detail-template">
    <div class="row">
        <section class="col-lg-12 col-sm-12">
            <div class="box" id="ITSource-table-detail">
                <div class="box-header">
                    <i class="fa fa-laptop"></i>
                    <h3 class="box-title">{{ciName}}：{{resName}}({{resIp}})</h3>
                </div>
                <div class="box-body">
                    <div class="tags form-group">
                        {{#each tags}}
                        <button type="button" class="btn bg-olive btn-flat">{{@this}}</button>
                        {{/each}}
                    </div>
                    <div class="form-horizontal detailsForm">
                        {{#each details}}
                        <div class="form-group">

                            {{#if isText}}
                            <label class="col-sm-2 control-label" style="word-break: break-all;">{{keyText}}</label>
                            <div class="col-sm-10 form-control-static">{{value}}</div>
                            {{/if}}

                            {{#if isProcess}}
                            <label class="col-sm-2 control-label" style="word-break: break-all;">{{keyText}}</label>
                            <div class="col-sm-10 form-control-static">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{value}}%">{{value}}%
                                    </div>
                                </div>
                            </div>
                            {{/if}}

                            {{#if isTable}}
                            <label class="col-sm-2 control-label" style="word-break: break-all;">{{keyText}}</label>
                            <div class="col-sm-10">
                                <table class="table table-bordered">
                                    {{tableDetail value}}
                                </table>
                            </div>
                            {{/if}}

                            {{#if isGather}}
                            {{#each value}}
                            <label class="col-sm-2 control-label" style="word-break: break-all;">{{keyText}}</label>
                            <div class="col-sm-10 form-control-static">{{value}}</div>
                            {{/each}}
                            
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
    </div>

</script>

<script type="text/x-handlebars-template" id="ITSource-table-more-template">
    <tr>
        <td colspan="6">
            <div class="form-horizontal">
                {{#each details}}
                <div class="form-group">

                    {{#if isText}}
                    <label class="col-sm-2 control-label" style="word-break: break-all;">{{keyText}}</label>
                    <div class="col-sm-10 form-control-static">{{value}}</div>
                    {{/if}}

                    {{#if isProcess}}
                    <label class="col-sm-2 control-label" style="word-break: break-all;">{{keyText}}</label>
                    <div class="col-sm-10 form-control-static">
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{value}}%">{{value}}%
                            </div>
                        </div>
                    </div>
                    {{/if}}

                    {{#if isTable}}
                    <label class="col-sm-2 control-label" style="word-break: break-all;">{{keyText}}</label>
                    <div class="col-sm-10">
                        <table class="table table-bordered">
                            {{tableDetail value}}
                        </table>
                    </div>
                    {{/if}}

                    {{#if isGather}}
                    {{#each value}}
                    <label class="col-sm-2 control-label" style="word-break: break-all;">{{keyText}}</label>
                    <div class="col-sm-10 form-control-static">{{value}}</div>
                    {{/each}}

                    {{/if}}
                </div>
                {{/each}}
            </div>
        </td>
    </tr>
</script>

<script type="text/x-handlebars-template" id="ITSource-server-add-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>服务器</a></li>
        {{#if id}}
        <li class="active">修改</li>
        {{else}}
        <li class="active">新增</li>
        {{/if}}
    </ol>
    <form class="form-horizontal" id="ITSource-server-add-form">
        <input type="hidden" name="id" value={{id}}>
        <div class="form-group">
            <label class="col-sm-2 control-label required">设备名称：</label>
            <div class="col-sm-5">
                <input type="text" name="name" class="form-control" value="{{name}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">IP地址：</label>
            <div class="col-sm-5">
                <input type="text" name="ip" class="form-control" value="{{ip}}" required>
            </div>
        </div>
        <div class="form-group changeViewBox">
            <label class="col-sm-2 control-label required">协议类型：</label>
            <div class="col-sm-5">
                <select class="form-control changeView" name="prot" value="{{prot}}" required>
                    <option value="1">WMI</option>
                    <option value="2">SSH</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">端口：</label>
            <div class="col-sm-5">
                <input type="text" name="port" class="form-control" value="{{port}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">账户：</label>
            <div class="col-sm-5">
                <input type="text" name="account" class="form-control" value="{{account}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">密码：</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" name="password" value="{{password}}" required>
            </div>
        </div>
        <div class="form-group" data-belong="1">
            <label class="col-sm-2 control-label">域：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="domain" value="{{domain}}">
            </div>
        </div>
        <div class="form-group hide" data-belong="2">
            <label class="col-sm-2 control-label required">回显符：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="prompt" value="{{prompt}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">字符编码：</label>
            <div class="col-sm-5">
                <select class="form-control" name="encoding" value="{{encoding}}">
                    <option value=""></option>
                    <option value="utf8">utf8</option>
                    <option value="gbk">gbk</option>
                    <option value="gb2312">gb2312</option>
                    <option value="latin1">latin1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default save">保存</button>
                <button class="btn btn-default cancle">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="ITSource-setTag-template">
    <ol class="breadcrumb">
        <li class="backToTableView"><a>服务器</a></li>
        <li class="active">设置标签</li>
    </ol>
    <form id="ITSource-setTag-form">
        <div class="col-sm-12 form-horizontal">
            <input name="id" type="hidden" value="{{id}}">
            <label class="col-sm-2 col-xs-6 control-label">资源名称：</label>
            <div class="col-sm-2">
                <p class="form-control-static">{{resName}}</p>
            </div>
            <label class="col-sm-2 col-xs-6 control-label">资源IP：</label>
            <div class="col-sm-2">
                <p class="form-control-static">{{resIp}}</p>
            </div>
        </div>
        <div class="form-group col-sm-12 form-horizontal">
            <label class="col-sm-2 col-lg-2 control-label">标签：</label>
            <div class="col-sm-10 tags form-inline">
                {{#each tags}}
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong class="text">{{this}}</strong>
                </div>
                {{/each}}
                <div class="hasSelect2" style="font-size: 14px;width: 180px;vertical-align:middle;">
                    <select class="app"></select>
                </div>
                <!-- <input type="text" class="form-control"> -->
                <button type="button" class="btn bg-gray-active btn-flat addTag">+</button>
            </div>
        </div>
    </form>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default save">保存</button>
            <button class="btn btn-default cancle backToTableView">取消</button>
        </div>
    </div>
</script>

<script>
    Tool.loadTemp('webpage/Configuration/view/DefineMissionStrategy.html');
    Tool.loadTemp('webpage/Configuration/view/DefineTag.html');

</script>


<link rel="stylesheet" href="bower_components/bootstrap-table/dist/bootstrap-table.min.css">

<script src="bower_components/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="webpage/ITSource/js/ITSourceTable.js"></script>

<!-- <script src="bower_components/bootstrap-table/dist/extensions/filter/bootstrap-table-filter.min.js"></script> -->
<script src="bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
